body.security-app {
 	background-color: #fea;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 20px 10px 30px 15px;
	margin: 10px 5% 20px 5%;
}


.lc-block {
    padding: 35px 55px 35px;
    background: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
    width: 30%;
    display: inline-block;
    position: relative;
    animation-name: fadeInUp;
    animation-duration: 300ms;
    animation-fill-mode: both;
    z-index: 10;
    margin-top:5%;
    vertical-align:middle;
    
}

body.security-app:before {
    height: 30%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    background-image: url('https://mobe.com/wp-content/uploads/2016/04/what-are-the-9-most-important-things-about-personal-finance-someone-without-a-finance-background-must-know_94198305_Subscription_Monthly_XL-1024x682.jpg');
    content: "";
    z-index: 0;
}

body.security-app:after {
    content: "";
    vertical-align: middle;
    display: inline-block;
    width: 1px;
    height: 100%;
    background-image: url('https://mobe.com/wp-content/uploads/2016/04/what-are-the-9-most-important-things-about-personal-finance-someone-without-a-finance-background-must-know_94198305_Subscription_Monthly_XL-1024x682.jpg');
    
}
#headerlogin {
	color: #545454;
	font-size: 12px;
	font-weight: normal;
	padding: 1px 6px 1px 3px;
	margin: 0px;
}
#headerlogin .username {
	font-weight: bold;
}
div.row {
	margin: 0px;
	padding: 0px;
	width: auto !important;
	clear: both;
}
h2 {
    color: white;
}

h1{
	color:crimson;
}

input[type="text"], input[type="password"]  {
    display: block;
    margin: 0;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
    border-radius: none;
    padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}

.button{
display:inline-block;
text-transform:uppercase;
padding:1em 1.5em 0.75em;
border-radius:2px;
font-weight:bold;
border:none;color:#fff !important;
text-decoration:none;
font-family:'Open Sans Condensed',sans-serif;
font-size:14px;
line-height:1;
cursor:pointer;
margin-right:10px;
margin-top:20px;
}
.button:hover{opacity:0.9}
.button.green{
background-color:#a5d16d;
box-shadow:0 0 5px #a4cf6c inset, 0 1px 1px #eee
}
.button.red{
background-color:#f4836a;
box-shadow:0 0 5px #ef7f65 inset, 0 1px 1px #eee
}
.button.small{font-size:11px}
.button.big{
font-size:18px;padding:1.2em 2.5em 1em
}
.details{
	position: relative;
    text-align: center;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}
.alert-danger {
    padding: 15px;
    font-size: 16px;
    background-color: #f2dede;
    border-color: #f2dede;
    color: #f44336;
    margin: 18px;
    border: 1px solid transparent;
    border-radius: 2px;
}
.alert-normal{
	padding: 15px;
    font-size: 16px;
    margin: 18px;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: #d9edf7;
    border-color: #d9edf7;
    color: #2196f3;
    
    
}